*{
    margin: 0px;
    padding: 0px;
}
#products{
    background-color: white;
    padding: 30px 0px;
}
#products h1{
    font-weight: 900;
    font-size: 34px;
    padding-bottom: 5px;
    text-align: center;
    position: relative;
}

.title{
    text-align: center;
    padding: 25px 0px;
}
.title p{
    font-size: 18px;
}

.card{
    margin: 20px 10px;
}
.card-body a{
    color: #2baf63;
    text-decoration: none;
    font-size: 15px;
    margin-top: auto;
    font-weight: 600;
}
.card-body a:hover{
    color: black;
    text-decoration: none;
}
.seemore{
    color: black;
    align-content: center;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: transparent;
    border-color: black ;
    border-style: solid ;
}
button{
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: transparent;
    border-color: transparent;
}
*{
    margin:0;
    padding: 0;
}
.banner{
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.banner img{
    width: 100%;
}
.heading{
    color: chartreuse;
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: left;
    margin-left: 100px;
    font-size: 100px;
    text-shadow: 3px 3px 6px #FFFFFF;
}
.slogan{
    color: black;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: left;
    margin-left: 100px;
    font-size: 2rem;
    
}
.shopnow{
    color: white;
    position: absolute;
    top: 60%;
    width: 200px;
    text-align: center;
    margin-left: 100px;
    border-radius: 30px;
    font-size: 16pt;
    background-color: #000000;
}
.row a{
    text-decoration: none;
    color: white;
}
a{
    text-decoration: none;
    color: black;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}
a:hover{
    color: green;
}

/*---Search bar--*/
.input-group input::placeholder{
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}
.input-group option{
    font-family: 'Rubik', sans-serif;
    font-size: 12pt;
}
.searchbar{
    
    padding-top: 50px;
    padding-bottom: 30px;
}
.input-group{
    font-family: 'Rubik', sans-serif;
}
.input-group .searchbut{
    font-family: 'Rubik', sans-serif;
    font-size: 12pt;
    background-color: #2baf63;
    font-weight: 600;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0px 10px 10px 0px;
}




